[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/hypridle -c /home/eleloi/.config/hypr/hypridle.conf
Restart=on-failure
