[Unit]
Description=Do a dotfiles git sync

[Service]
Type=oneshot
WorkingDirectory=/home/eleloi
ExecStart=git --git-dir=/home/eleloi/.dotfiles/ --work-tree=/home/eleloi pull --rebase=true
ExecStart=git --git-dir=/home/eleloi/.dotfiles/ --work-tree=/home/eleloi push

